@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    string hasPreviousPage = Model.PageViewModel.HasPreviousPage ? "" : "disabled";
    string hasNextPage = Model.PageViewModel.HasNextPage ? "" : "disabled";
}

<table class="table">
    <tr><th>Id</th><th>Имя</th><th>Цена</th><th>Описание</th></tr>
    @foreach (ProductModel pm in Model.Models)
    {
        <tr><td>@pm.Id</td><td>@pm.Name</td><td>@pm.Price</td><td>@pm.Description</td></tr>
    }
</table>

    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark @hasPreviousPage">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>

    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark @hasNextPage">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>

